.App {
  text-align: center;
}

.loadingDonut {
  margin: 20% auto;
  pointer-events: none;
  width: 150px;

}

#pageTitle {
  font-size: 24px;
}

.fa-shopping-cart {
  font-size: 24px;
  margin: 0 20px;
}

.categoriesNav {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.itemList {
  margin: 20px auto;
  width: 90%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.itemCountInput {
  padding: 0 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .loadingDonut {
    animation: loadingDonut-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes loadingDonut-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
